body
{
    font-family: 'Arial', sans-serif;
    background-color: #d4b255;
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

#result 
{
    font-size: 40px;
    margin-top: 50px;
}

#computerChoice 
{
    font-size: 18px;
    margin-top: 10px;
}

#score
{
    font-size: 30px;
    margin-top: 60px;
}

.image-container 
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-container img 
{
    width: 200px;
    margin: 0 20px;
    cursor: pointer;
}
